@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
}
/* Navbar Settings*/
nav {
  background-color:burlywood;
  height: 60px;
  width: 100%;
}
lable.logo {
  color: black;
  font-size: 28px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}
nav ul {
  list-style: none;
  margin-right: 100px;
  float: right;
  padding-top: 21.5px;
}
nav ul li {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  justify-content: center;
}
nav ul li a {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  padding: 21px 15px 20px 15px;
}
a.active,
a:hover {
  background: bisque;
  transition: 0.5s;
}

/* DropMenu Settings */
.dropDown {
  display: inline-block;
  position: relative;
}
.dropDown:hover .dropDown-content {
  display: inline;
}
.dropDown-content {
  display: none;
  background-color:bisque;
  position: absolute;
  top: 38px;
  left: 0px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
}
.dropDown-content li a {
  color: black;
  display: block;
}

.dropDown-content li {
  line-height: 20px;
}
/* Header Settings*/
header {
  margin: 25px 100px;
  background-color: black;
  height: 500px;
}